USE [master]
GO
/****** Object:  Database [QUANLYBANHANG]    Script Date: 12/5/2022 10:01:56 PM ******/
CREATE DATABASE [QUANLYBANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYBANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLYBANHANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYBANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLYBANHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYBANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYBANHANG]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 12/5/2022 10:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [int] NULL,
	[MASP] [char](4) NULL,
	[SL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/5/2022 10:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] NOT NULL,
	[NGHD] [datetime] NULL,
	[MAKH] [char](4) NULL,
	[MANV] [char](4) NULL,
	[TRIGIA] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/5/2022 10:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](4) NOT NULL,
	[HOTEN] [varchar](40) NULL,
	[DCHI] [varchar](50) NULL,
	[SODT] [varchar](20) NULL,
	[NGSINH] [datetime] NULL,
	[NGDK] [datetime] NULL,
	[DOANHSO] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/5/2022 10:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](4) NOT NULL,
	[HOTEN] [varchar](20) NULL,
	[SODT] [varchar](20) NULL,
	[NGVL] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/5/2022 10:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](4) NOT NULL,
	[TENSP] [varchar](20) NULL,
	[DVT] [varchar](20) NULL,
	[NUOCSX] [varchar](40) NULL,
	[GIA] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'TV02', 10)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'ST01', 5)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'BC01', 5)
GO
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1001, CAST(N'2006-07-23T00:00:00.000' AS DateTime), N'KH01', N'NV01', 320000.0000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1002, CAST(N'2006-08-12T00:00:00.000' AS DateTime), N'KH01', N'NV02', 840000.0000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1003, CAST(N'2006-08-23T00:00:00.000' AS DateTime), N'KH02', N'NV01', 100000.0000)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DCHI], [SODT], [NGSINH], [NGDK], [DOANHSO]) VALUES (N'KH01', N'Nguyen Van A', N'731,Tran Hung Dao, Q 5 ,Tp HCM', N'08823451', CAST(N'1960-10-22T00:00:00.000' AS DateTime), CAST(N'2006-10-22T00:00:00.000' AS DateTime), 13000000.0000)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DCHI], [SODT], [NGSINH], [NGDK], [DOANHSO]) VALUES (N'KH02', N'Tran Ngoc Han', N'23/5, Nguyen Trai, Q 5, Tp HCM', N'0908256478', CAST(N'1974-04-03T00:00:00.000' AS DateTime), CAST(N'2006-07-30T00:00:00.000' AS DateTime), 280000.0000)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DCHI], [SODT], [NGSINH], [NGDK], [DOANHSO]) VALUES (N'KH03', N'Tran Ngoc Linh', N'45, Nguyen Canh Chan, Q 1, Tp HCM', N'0938776266', CAST(N'1980-06-12T00:00:00.000' AS DateTime), CAST(N'2006-08-05T00:00:00.000' AS DateTime), 3860000.0000)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SODT], [NGVL]) VALUES (N'NV01', N'Nguyen Nhu Nhut', N'0927345678', CAST(N'2006-04-13T00:00:00.000' AS DateTime))
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SODT], [NGVL]) VALUES (N'NV02', N'Le Thi Phi Yen', N'0987567390', CAST(N'2006-04-21T00:00:00.000' AS DateTime))
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SODT], [NGVL]) VALUES (N'NV03', N'Nguyen Van B', N'0997047382', CAST(N'2006-04-27T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [NUOCSX], [GIA]) VALUES (N'BB01', N'But bi', N'cay', N'Viet Nam', 5000.0000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [NUOCSX], [GIA]) VALUES (N'BB02', N'But bi', N'cay', N'Trung Quoc', 7000.0000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [NUOCSX], [GIA]) VALUES (N'BB03', N'But bi', N'hop', N'Thai Lan', 100000.0000)
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
USE [master]
GO
